<div class="row">
    <div class="col-lg-4">
        <div class="hpanel hgreen">
            <div class="panel-body">
                <div class="pull-right text-right">
                    <div class="btn-group">
                        <i class="fa fa-facebook btn btn-default btn-xs"></i>
                        <i class="fa fa-twitter btn btn-default btn-xs"></i>
                        <i class="fa fa-linkedin btn btn-default btn-xs"></i>
                    </div>
                </div>
                <img alt="logo" class="img-circle m-b m-t-md" src="images/profile.jpg">
                <h3><a href="">{{user.nombres}}</a></h3>
                <div class="text-muted font-bold m-b-xs">{{$root.user.empresas[0].nombreempresa}}</div>
                <p>
                    {{$root.user.perfil.nombre}}
                </p>
                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-camera"></i> Cambiar foto</button>
                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-user"></i> Cambiar contraseña</button>
            </div>
            <div class="panel-footer contact-footer">
                <div class="row">
                    <div class="col-md-4 border-right">
                        <div class="contact-stat"><span>Egresos Registrados: </span> <strong>200</strong></div>
                    </div>
                    <div class="col-md-4 border-right">
                        <div class="contact-stat"><span>Ingresos Registrados: </span> <strong>300</strong></div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-stat"><span>Registros Editados: </span> <strong>400</strong></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-8">
        <div class="hpanel">
            <div class="hpanel">
                <tabset>
                    <tab>
                        <tab-heading>
                            Ingresos recientes
                        </tab-heading>
                        
                        <div class="panel-body" ng-init="getIngresos()">
                                        <div class="row m-t">
                <div class="col-md-2">
                    <label>Periodo</label>
                    <select ng-change="getByPeriodo(filter.periodo)" class="form-control m-b" ng-model="filter.periodo"  name="periodo">
                        <option value="">-- Periodo --</option>
                        <option ng-selected="filter.periodo == periodo.id" ng-repeat="periodo in periodos" value="{{periodo._id}}">{{periodo.mes}}</option>
                     </select>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="">Referencias</label>
                        <input type="text" placeholder="Referencia" ng-model="filter.referencia" class="form-control">
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>Categoria</label>
                    <select class="form-control" ng-model="filter.categoria"  name="Categoria" >
                        <option value="">-- Categoria --</option>
                        <option ng-repeat="categoria in categorias" value="{{categoria._id}}">{{categoria.descripcioncat}}</option>
                     </select>
                </div>
                <div class="col-lg-4">
                    <label>Tercero </label>
                    <ui-select ng-model="$parent.filter.tercero" name="Tercero" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="Tercero">{{$select.selected.nombre}}</ui-select-match>
                        <ui-select-choices repeat="tercero in terceros | filter: $select.search">
                            <div ng-bind-html="tercero.nombre | highlight: $select.search"></div>
                            Nombre: {{tercero.nombre}}
                        </ui-select-choices>
                      </ui-select>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Estado</label>
                        <select class="form-control m-b" ng-model="filter.estado"  required name="Estado documento">
                            <option value="">-- Estado --</option>
                            <option ng-repeat="estado in estados" value="{{estado._id}}">{{estado.descripcion}}</option>
                         </select>
                    </div>
                </div>
            </div>
                            <div class="table-responsive">
                                <table cellpadding="1" cellspacing="1" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Periodo</th>
                                        <th>Categoria</th>
                                        <th>Tercero</th>
                                        <th>Valor</th>
                                        <th>Referencias</th>
                                        <th>Fecha de creación</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr pagination-id="pagination-ingresos" dir-paginate="record in filtered = (ingresos | filter  : { tercero : { id : filter.tercero.id}, categoriadto : {id : filter.categoria}, estadodocumento : { id : filter.estado}, txtReferencia : filter.referencia}) | itemsPerPage: 5" ng-click="setSelected()">
                                        <td class="capitilize">{{record.periodo.mes}}</td>
                                        <td><a href="">{{record.categoriadto.descripcioncat}}</a></td>
                                        <td>{{record.tercero.nombre}}</td>
                                        <td>{{totalize() | currency:"$"}}</td>
                                        <td>{{normalize(record)}}</td>
                                        <td>{{record.createdAt | moment: 'format': 'YYYY-MM-DD' }}</td>
                                        <td><span ng-class="{'label-success': (record.estadodocumento.descripcion == 'Finalizado'), 'label-warning' : (record.estadodocumento.descripcion == 'Pendiente')}" class="label">{{record.estadodocumento.descripcion}}</span></td>
                                        <td ng-click="$event.stopPropagation()">
                                            <div class="action-btns">
                                                <button type="button" class="btn btn-primary btn-sm" ng-click="detail()">Detalle</button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="col-lg-12">
                                    <div class="pull-right"> 
                                        <dir-pagination-controls pagination-id="pagination-ingresos"></dir-pagination-controls>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            Egresos recientes
                        </tab-heading>
                        <div class="panel-body" ng-init="getEgresos()">
                            <div class="row m-t">
                                <div class="col-md-2">
                                    <label>Periodo</label>
                                    <select ng-change="getByPeriodo(filter.periodo)" class="form-control m-b" ng-model="filter.periodo"  name="periodo">
                                        <option value="">-- Periodo --</option>
                                        <option ng-selected="filter.periodo == periodo.id" ng-repeat="periodo in periodos" value="{{periodo._id}}">{{periodo.mes}}</option>
                                     </select>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="">Referencia</label>
                                        <input type="text" placeholder="Buscar referencia" ng-model="filter.referencia" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <label>Categoria</label>
                                    <select class="form-control" ng-model="filter.categoria"  name="Categoria" >
                                        <option value="">-- Categoria --</option>
                                        <option ng-repeat="categoria in categorias" value="{{categoria._id}}">{{categoria.descripcioncat}}</option>
                                     </select>
                                </div>
                                <div class="col-lg-4">
                                    <label>Tercero </label>
                                    <ui-select ng-model="$parent.filter.tercero" name="Tercero" theme="bootstrap">
                                        <ui-select-match allow-clear="true" placeholder="Tercero">{{$select.selected.nombre}}</ui-select-match>
                                        <ui-select-choices repeat="tercero in terceros | filter: $select.search">
                                            <div ng-bind-html="tercero.nombre | highlight: $select.search"></div>
                                            Nombre: {{tercero.nombre}}
                                        </ui-select-choices>
                                      </ui-select>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <select class="form-control m-b" ng-model="filter.estado"  required name="Estado documento">
                                            <option value="">-- Estado --</option>
                                            <option ng-repeat="estado in estados" value="{{estado._id}}">{{estado.descripcion}}</option>
                                         </select>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table cellpadding="1" cellspacing="1" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Periodo</th>
                                        <th>Categoria</th>
                                        <th>Tercero</th>
                                        <th>Valor</th>
                                        <th>Referencias</th>
                                        <th>Fecha de creación</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="text-center" ng-show="(filtered.length == 0)">
                                        <td colspan="8">No hay datos para mostrar</td>
                                    </tr>
                                    <tr  pagination-id="pagination-egresos" dir-paginate="record in filtered = (egresos | filter  : { tercero : { id : filter.tercero.id}, categoriadto : {id : filter.categoria}, estadodocumento : { id : filter.estado}, txtReferencia : filter.referencia}) | itemsPerPage: 5" ng-click="setSelected()">
                                        <td class="capitilize">{{record.periodo.mes}}</td>
                                        <td><a href="">{{record.categoriadto.descripcioncat}}</a></td>
                                        <td>{{record.tercero.nombre}}</td>
                                        <td>{{totalize(record.movimiento) | currency:"$"}}</td>
                                        <td>{{normalize(record)}}</td>
                                        <td>{{record.createdAt | moment: 'format': 'YYYY-MM-DD' }}</td>
                                        <td><span ng-class="{'label-success': (record.estadodocumento.descripcion == 'Finalizado'), 'label-warning' : (record.estadodocumento.descripcion == 'Pendiente')}" class="label">{{record.estadodocumento.descripcion}}</span></td>
                                        <td ng-click="$event.stopPropagation()">
                                            <div class="action-btns">
                                                <button type="button" class="btn btn-primary btn-sm" ng-click="detail()">Detalle</button>
                                                <button type="button" class="btn btn-primary btn-sm" ng-click="edit_record()">Editar</button>
                                                <button type="button" class="btn btn-primary btn-sm" ng-click="delete()" ng-disabled="(record.estadodocumento.descripcion == 'Finalizado')">Borrar</button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="col-lg-12">
                                    <div class="pull-right"> 
                                        <dir-pagination-controls pagination-id="pagination-egresos"></dir-pagination-controls>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>