<div class="inmodal" ng-init="load()">
    <div class="color-line"></div>
    <div class="modal-header text-center">
        <h4 class="modal-title">Modificar Egreso</h4>
        <small class="font-bold">Complete el formulario para modificar egreso.</small>
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="formRecordEdit">
                <div class="form-group">
                    <div class="col-md-6">
                        <label>Periodo</label>
                        <select class="form-control m-b" ng-model="formEdit.periodo._id"  name="periodo">
                            <option ng-repeat="periodo in periodos" value="{{periodo._id}}">{{periodo.mes}}</option>
                         </select>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Referencia <span class="text-danger">*</span> <span class="text-danger font-mini" ng-show="(formRecordEdit['Referencia'].$touched && formRecordEdit['Referencia'].$invalid)"> C. requerido.</span></label>
                            <ui-select multiple ng-required="true" name="Referencia" tagging="tagTransform" tagging-tokens="SPACE|,|/"  ng-model="formEdit.referencia" theme="bootstrap">
                                <ui-select-match  placeholder="Escriba la referencia [ENTER]">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="referencia in referencias | propsFilter: {referencia: $select.search}">
                                    <div ng-bind-html="referencia.name | highlight: $select.search"></div>
                                        Referencia: {{referencia.name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Fecha inicial <span class="text-danger">*</span><span class="text-danger font-mini" ng-show="(formRecordEdit['Fecha Inicial'].$touched && formRecordEdit['Fecha Inicial'].$invalid)">requerido.</span></label>
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}"
                                   show-button-bar="false" name="Fecha Inicial" required ng-model="formEdit.fechainicial" is-open="from" datepicker-options="dateOptions"
                                 ng-required="true" close-text="Close"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <label>Fecha final <span class="text-danger">*</span> <span class="text-danger font-mini" ng-show="(formRecordEdit['Fecha final'].$touched && formRecordEdit['Fecha final'].$invalid)">requerido.</span></label>
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}"
                                   show-button-bar="false" name="Fecha final" required ng-model="formEdit.fechafinal" is-open="to" datepicker-options="dateOptions"
                                 ng-required="true" close-text="Close"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openTo($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                        </p>
                    </div>
                    <div class="col-md-8">
                        <label>Concepto Factura <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecord['detalle_factura'].$touched && formRecord['detalle_factura'].$invalid)">requerido.</span></label>
                        <select  ng-change="getCategory(form.data.detalle_factura)" class="form-control" ng-model="form.data.detalle_factura"  name="detalle_factura">
                            <option value="">-- Concepto --</option>
                            <option ng-repeat="categoria in  ['SubTotal', 'Iva 19%', 'Iva 5%', 'Iva 0%']" value="{{categoria}}">{{categoria}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Valor:</label>
                            <input type="number" ng-disabled="(!form.data.detalle_factura)" ng-model="form.data.valor_detalle" name="valor_factura" class="form-control"  placeholder="$0.00">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button type="button" ng-disabled="(!form.data.valor_detalle || !form.data.detalle_factura)" class="btn btn-success pull-right" ng-click="addToInvoiceEdit()">Agregar</button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="hpanel">
                            <div class="panel-heading">
                                <div class="panel-tools"  panel-tools>
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    <a class="closebox"><i class="fa fa-times"></i></a>
                                </div>
                               Detalle
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                <table cellpadding="1" cellspacing="1" class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Subtotal</th>
                                        <th>Iva</th>
                                        <th>Descuento</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{subtotal || 0 | currency:"$"}}</td>
                                        <td>{{ivas || 0 | currency:"$"}}</td>
                                        <td><a href="" ng-init="getTotalDiscount()"  ng-click="addDiscountRowEdit()">{{ totalDiscount || 0 | currency:"$"}}</a></td>
                                        <td class="font-extra-bold">{{total || 0 | currency:"$"}}</td>
                                        <td>
                                            <button type="button" ng-click="edit_detalle()" class="btn btn-xs btn-primary">Modificar</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-striped" ng-show="subtotal">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Activo</th>
                                        <th>Observación</th>
                                        <th>Valor</th>
                                        <th>Porcentaje</th>
                                        <th class="pull-right" style="display: flex;"><button type="button" style="margin-right: 5px;" ng-click="addDiscountRowEdit()" class="btn btn-xs btn-primary "><i class="fa fa-plus"></i></button><button type="button" ng-disabled="!$root.formEdit.descuento || $root.formEdit.descuento.length == 0"  ng-click="totalizeDiscountEdit()" class="btn btn-xs btn-success"><i class="fa fa-check text-white"></i></button></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="(!$root.formEdit.descuento || $root.formEdit.descuento.length == 0)">
                                            <td class="text-center" colspan="6">Aun no ha ingresado los descuentos</td>
                                        </tr>
                                        <tr ng-repeat="discount in $root.formEdit.descuento" >
                                            <td><input icheck type="checkbox" ng-model="discount.active"></td>
                                            <td>
                                            </td>
                                            <td>
                                            <div class="col-md-12">
                                                <select ng-change="discountSelected(selectedDiscount)" class="form-control" ng-model="selectedDiscount">
                                                    <option ng-selected="(discount.observacion == descuento.id)" ng-repeat="descuento in descuentos" value="{{descuento._id}}">{{descuento.descripcion}}</option>
                                                </select>
                                            </div>
                                            </td>
                                            <td>
                                                <input type="number" id="currency-{{$index}}"  ng-change="calc('$')" ng-model="discount.currency" placeholder="Valor $" class="form-control input-sm">
                                            </td>
                                            <td colspan="4 ">
                                                <input type="number" id="percent-{{$index}}" min="0" max="100" ng-change="calc('%')" ng-model="discount.percent" placeholder="Valor %" class="form-control input-sm">
                                            </td>
                                            <td>
                                                <button class="btn btn-sm pull-right" ng-click="removeDiscountEdit()"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Total descuentos</label>
                                        <input type="text" disabled  currency-mask ng-model="$root.totalDiscount || 0" class="form-control">
                                    </div>
                            </div>
                            <div class="panel-footer font-extra-bold">
                                <div class="row" style="display: flex;flex-direction: row;align-items: center;">
                                    <div class="col-lg-12">
                                        Total a pagar factura - {{total || 0 | currency:"$"}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-4">
                        <label>Categoria <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecordEdit['Categoria'].$touched && formRecordEdit['Categoria'].$invalid)">requerido.</span></label>
                        <select ng-change="getCategory(formEdit.categoriadto._id)" class="form-control" ng-model="formEdit.categoriadto._id"  name="Categoria" required>
                            <option ng-selected="{{ formEdit.categoriadto._id == categoria.id }}" ng-repeat="categoria in categorias" value="{{categoria._id}}">{{categoria.descripcioncat}}</option>
                         </select>
                         <span ng-show="selectedCategoria" style="text-transform: lowercase;font-size: 10px;" >{{selectedCategoria.categoria_2_.descripcion}} / {{selectedCategoria.descripcioncat}}</span>
                    </div>
                    <div class="col-md-4">
                        <label>F. de pago <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecordEdit['fpago'].$touched && formRecordEdit['fpago'].$invalid)">requerido.</span></label>
                        <select ng-change="getPayment(form.data.fpago)"  class="form-control m-b" ng-model="form.data.fpago"  name="fpago">
                            <option ng-repeat="f in formasPagos" value="{{f._id}}">{{f.descripcionpago}}</option>
                         </select>
                    </div>
                    <div class="col-md-4" ng-show="sp.banco" >
                        <label>Tipo de movimiento <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecord['bancoMovimiento'].$touched && formRecord['bancoMovimiento'].$invalid)">requerido.</span></label>
                        <select class="form-control m-b" ng-model="$root.formEdit.data.bancoMovimiento" name="bancoMovimiento">
                            <option value="">-- Seleccione  --</option>
                            <option ng-repeat="f in ['Tarjeta de crédito', 'Tarjeta débito', 'Consignación']" value="{{f}}">{{f}}</option>
                         </select>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Valor:</label>
                            <input type="number" ng-disabled="(!form.data.fpago || !formEdit.categoriadto)" ng-model="formEdit.valor" name="valor" class="form-control"  placeholder="$0.00">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 " style="margin-bottom: 10px;">
                            <button type="button" ng-disabled="(!formEdit.valor || !form.data.fpago || !formEdit.categoriadto)" class="btn btn-success pull-right" ng-click="addPaymentEdit()">Agregar al pago</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" ng-show="($root.formEdit.movimiento.length > 0)">
                        <div class="hpanel">
                            <div class="panel-heading">
                                <div panel-tools></div>
                                Formas de Pago
                            </div>
                            <div class="panel-body list">
                                <div class="panel-title">Listado de Pagos</div>
                                <small class="fo">Resumen del pago realizado.</small>
                                <div class="list-item" ng-repeat="payment in $root.formEdit.movimiento">
                                    <h3 class="no-margins font-extra-bold text-primary">{{payment.valor | currency:"$"}}</h3>
                                    <small>{{payment.fpago.descripcionpago}}<span class="font-bold" ng-show="payment.tipo"> - {{payment.tipo}}</span></small>
                                    <div class="pull-right font-bold"><button type="button" ng-click="removePaymentEdit()" class="btn btn-xs btn-danger">Quitar</button></div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-12" style="padding-bottom: 15px;">
                    <label>Tercero <span class="text-danger">*</span> <span class="text-danger font-mini" ng-show="(formRecordEdit['Tercero'].$touched && formRecordEdit['Tercero'].$invalid)"> C. requerido.</span></label>
                    <ui-select ng-model="formEdit.tercero" name="Tercero" ng-required="true" theme="bootstrap">
                        <ui-select-match placeholder="Seleccionar tercero">{{$select.selected.nombre}}</ui-select-match>
                        <ui-select-choices repeat="tercero in terceros | filter: $select.search">
                            <div ng-bind-html="tercero.nombre | highlight: $select.search"></div>
                            Nombre: {{tercero.nombre}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Estado <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecordEdit['Estado documento'].$touched && formRecordEdit['Estado documento'].$invalid)"> C. requerido.</span></label>
                        <select class="form-control m-b" ng-model="form.data.estadodocumento" name="Estadodocumento">
                            <option ng-selected="{{ $root.formEdit.estadodocumento.id == estado.id }}" ng-repeat="estado in estados" value="{{estado.id}}">{{estado.descripcion}}</option>
                         </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Archivos / Soportes</label>
                        <button ng-class="{'btn-success': uploadingSuccess ? true : false}" class="btn btn-primary" ng-click="uploadFiles()" type="button">
                            <i class="fa fa-upload"></i>
                           {{ (uploading || uploadingSuccess) ? 'Archivos subidos' : 'Seleccionar archivos'}}</button>
                            <input type="file" id="files" name="files" multiple  ng-model="files" reader="clientFiles" style="display:none;">
                    </div>
                </div>
                <div class="col-lg-12" ng-show="($root.formEdit.archivo.length > 0)">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div panel-tools></div>
                            Archivos
                        </div>
                        <div class="panel-body list">
                            <div class="panel-title">Listado de archivo</div>
                            <small class="fo">Archivos subidos.</small>
                            <div class="list-item" ng-repeat="archivo in $root.formEdit.archivo">
                                <a href="">{{archivo.name}}</a>
                                <div class="pull-right font-bold"><button type="button" ng-click="removeFile()" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button></div>
                            </div>
                        </div>
                    </div>
            </div>
                <div ng-show="(selectedEstado.descripcion == 'Pendiente' || selectedEstado.descripcion == 'pendiente' )">
                    <div class="col-sm-4">
                        <div class="checkbox" style="margin-top: 30px;">
                            <input icheck type="checkbox" ng-model="formEdit.recordar">
                                Recordar
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="recor">Recordatorio</label>
                            <input type="number"  ng-model="formEdit.data.recordia" title="Dias" placeholder="dias" name="dias" id="recor" class="form-control">
                            <span class="help-block small">Dias antes de la fecha de vencimiento</span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-12">
                        <div class="panel-body">
                            <div summernote ng-model="formEdit.observacion" config="summernoteOpt"></div>
                        </div>
                    </div>
                </div>
            </form>    
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$close()">Cerrar</button>
        <button type="button" ng-disabled="!$root.user.perfil.permisosdetalle.egresos.edit || formRecordEdit.$invalid" class="btn btn-primary" ng-click="update()">Actualizar</button>
    </div>
</div>

