<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">Filtros</h4>
    </div>
    <div class="modal-body row">
        <div class="hpanel">
            <div class="col-md-4">
                <label>Periodo</label>
                <select class="form-control m-b" ng-model="$root.filter.periodo"  name="periodo">
                    <option value="">-- Periodo --</option>
                    <option ng-repeat="periodo in periodos" value="{{periodo._id}}">{{periodo.mes}}</option>
                 </select>
            </div>
            <div class="col-md-4">
                <label>Categoria </label>
                <select class="form-control m-b" ng-model="$root.filter.categoria"  name="Categoria" required>
                    <option value="">-- Categoria --</option>
                    <option ng-repeat="categoria in categorias" value="{{categoria._id}}">{{categoria.descripcioncat}}</option>
                 </select>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Estado </label>
                    <select class="form-control m-b" ng-model="$root.filter.estado"  required name="Estado documento">
                        <option value="">-- Seleccione una opción --</option>
                        <option ng-repeat="estado in estados" value="{{estado._id}}">{{estado.descripcion}}</option>
                     </select>
                </div>
            </div>
            <div class="col-md-12" style="padding-bottom: 15px;">
                <label>Tercero</label>
                <ui-select ng-model="$root.filter.tercero" name="Tercero" ng-required="true" theme="bootstrap">
                    <ui-select-match placeholder="Seleccionar tercero">{{$select.selected.nombre}}</ui-select-match>
                    <ui-select-choices repeat="tercero in terceros | propsFilter: {nombre: $select.search, email: $select.search}">
                        <div ng-bind-html="tercero.nombre | highlight: $select.search"></div>
                            Nombre: {{tercero.nombre}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$close()">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="appyFilter()">Aplicar</button>

    </div>
</div>
