<div class="color-line"></div>

<div class="back-link hidden">
    <a ui-sref="signup" class="btn btn-primary">Crear nueva cuenta</a>
</div>

<div class="login-container" ng-controller="loginCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>EGRESAPP</h3>
                <small>Aplicación para control de ingresos y egresos</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form action="#" id="loginForm">
                            <div class="form-group">
                                <label class="control-label" for="username">Correo electronico</label>
                                <input type="text" ng-model="form.data.identifier" placeholder="correo@gmail.com" title="Please enter you username" required="" value="" name="username" id="username" class="form-control">
                                <span class="help-block small">Escribe la dirección de correo electronico</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Contraseña</label>
                                <input type="password"  ng-model="form.data.password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                                <span class="help-block small">Escribe tu contraseña</span>
                            </div>
                            <div class="checkbox" style="padding-left:0!important;">
                                    <input icheck type="checkbox" ng-model="remember" ng-init="remember = true">
                                     Recordar datos
                            </div>
                            <button class="btn btn-success btn-block" ng-click="login($event)" >Entrar</button>
                            <a class="btn btn-default btn-block" ui-sref="signup">Crear cuenta</a>
                            <br />
                            <div class="col-lg-12 text-center">
                                <a ui-sref="recover" class="pull-center">Olvidé mi contraseña</a>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>EGRESAPP</strong> - Aplicación para control de ingresos y egresos <br/> 2020 Copyright SuiteApp
        </div>
    </div>
</div>
