<div class="color-line"></div>

<div class="back-link">
    <a ui-sref="campaings()" class="btn btn-primary">Regresar al administrador</a>
</div>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Recuperar contraseña</h3>
                <small>Por favor complete el formulario para recuperar contraseña</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <p>
                       Ingresa tu dirección de correo y te enviaremos un enlace de recuperación
                    </p>
                        <form action="#" id="loginForm">
                            <div class="form-group">
                                <label class="control-label" for="username">Email</label>
                                <input type="text" placeholder="example@gmail.com" title="Por favor ingresa tu dirección de email" required="" value="" name="username" id="username" class="form-control">
                                <span class="help-block small">Tu email registrado</span>
                            </div>

                            <button class="btn btn-success btn-block">Cambiar contraseña</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>EGRESAPP</strong> - Aplicación para control de ingresos y egresos <br> 2020 Copyright SuiteApp Inc.
        </div>
    </div>
</div>