<div class="color-line"></div>
<div class="back-link">
    <a ui-sref="login" class="btn btn-primary">Ingresar</a>
</div>
<div class="register-container" ng-controller="signupCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>REGISTRO</h3>
                <small>Formulario para crear cuenta. </small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form action="#" name="signupForm" d="loginForm">
                            <div class="row">
                            <div class="form-group col-lg-6">
                                    <label>Nombres</label>
                                    <input type="" ng-model="form.data.nombres" value="" id="" class="form-control" name="">
                                </div>
                            <div class="form-group col-lg-6">
                                <label>Apellidos</label>
                                <input type=""  ng-model="form.data.apellidos" value="" id="" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-6">
                                    <label>Correo electronico</label>
                                    <input type="" ng-model="form.data.email" value="" id="" class="form-control" name="">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Confirmar correo electronico</label>
                                    <input type=""  ng-model="confirm_email" value="" id="" class="form-control" name="">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>Empresa</label>
                                    <input type=""  ng-model="form.data.nombreempresa" value="" id="" class="form-control" name="">
                                </div>
                            <div class="form-group col-lg-6">
                                    <label>Pagina web</label>
                                    <input type="" ng-model="form.data.web" value="" id="" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Nit</label>
                                <input type="" ng-model="form.data.nit" value="" id="" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Telefono</label>
                                <input type=""  ng-model="form.data.telefono" value="" id="" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Dirección</label>
                                <input type=""  ng-model="form.data.direccion" value="" id="" class="form-control" name="">
                            </div>

                            <div class="form-group col-lg-6">
                                <label>Contraseña</label>
                                <input type="password" ng-model="form.data.password" value="" id="" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Confirmar contraseña</label>
                                <input type="password" ng-model="confirm_password" value="" id="" class="form-control" name="">
                            </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-success" ng-click="signup($event)" >Registrarse</button>
                                <button class="btn btn-default">Cancelar</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>EGRESAPP</strong> - Aplicación para control de ingresos y egresos <br/> 2020 Copyright SuiteApp Inc.
        </div>
    </div>
</div>
