<div class="inmodal"  ng-controller='recordsCtrl' ng-init='load()'>
    <div class="color-line"></div>
    <div class="modal-header text-center">
        <h4 class="modal-title">Modificar Egreso</h4>
        <small class="font-bold">Complete el formulario para modificar egreso.</small>
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="formRecordEdit">
                <div class="form-group">
                    <div class="col-md-6">
                        <label>Periodo</label>
                        <select class="form-control m-b" ng-model="formEdit.periodo._id"  name="periodo">
                            <option ng-repeat="periodo in periodos" value="{{periodo._id}}">{{periodo.mes}}</option>
                         </select>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Referencia <span class="text-danger">*</span> <span class="text-danger font-mini" ng-show="(formRecordEdit['Referencia'].$touched && formRecordEdit['Referencia'].$invalid)"> C. requerido.</span></label>
                            <ui-select multiple ng-required="true" name="Referencia" tagging="tagTransform" tagging-tokens="SPACE|,|/"  ng-model="formEdit.referencia" theme="bootstrap">
                                <ui-select-match  placeholder="Escriba la referencia [ENTER]">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="referencia in referencias | propsFilter: {referencia: $select.search}">
                                    <div ng-bind-html="referencia.name | highlight: $select.search"></div>
                                        Referencia: {{referencia.name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Fecha inicial <span class="text-danger">*</span><span class="text-danger font-mini" ng-show="(formRecordEdit['Fecha Inicial'].$touched && formRecordEdit['Fecha Inicial'].$invalid)">requerido.</span></label>
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}"
                                   show-button-bar="false" name="Fecha Inicial" required ng-model="formEdit.fechainicial" is-open="from" datepicker-options="dateOptions"
                                 ng-required="true" close-text="Close"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <label>Fecha final <span class="text-danger">*</span> <span class="text-danger font-mini" ng-show="(formRecordEdit['Fecha final'].$touched && formRecordEdit['Fecha final'].$invalid)">requerido.</span></label>
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}"
                                   show-button-bar="false" name="Fecha final" required ng-model="formEdit.fechafinal" is-open="to" datepicker-options="dateOptions"
                                 ng-required="true" close-text="Close"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openTo($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="col-md-4">
                        <label>Categoria <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecordEdit['Categoria'].$touched && formRecordEdit['Categoria'].$invalid)">requerido.</span></label>
                        <select ng-change="getCategory(formEdit.categoriadto._id)"class="form-control" ng-model="formEdit.categoriadto._id"  name="Categoria" required>
                            <option ng-selected="{{ formEdit.categoriadto._id == categoria.id }}" ng-repeat="categoria in categorias" value="{{categoria._id}}">{{categoria.descripcioncat}}</option>
                         </select>
                         <span ng-show="selectedCategoria" style="text-transform: lowercase;font-size: 10px;" >{{selectedCategoria.categoria_2_.descripcion}} / {{selectedCategoria.descripcioncat}}</span>
                    </div>
                    <div class="col-md-4">
                        <label>F. de pago <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecordEdit['fpago'].$touched && formRecordEdit['fpago'].$invalid)">requerido.</span></label>
                        <select ng-change="getPayment(form.data.fpago)" class="form-control m-b" ng-model="form.data.fpago"  name="fpago">
                            <option ng-repeat="f in formasPagos" value="{{f._id}}">{{f.descripcionpago}}</option>
                         </select>
                    </div>
                    <div class="col-md-4" ng-show="sp.banco" >
                        <label>Tipo de movimiento <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecord['bancoMovimiento'].$touched && formRecord['bancoMovimiento'].$invalid)">requerido.</span></label>
                        <select class="form-control m-b" ng-model="formEdit.data.bancoMovimiento"  name="bancoMovimiento">
                            <option value="">-- Seleccione  --</option>
                            <option ng-repeat="f in ['Tarjeta de crédito', 'Tarjeta débito', 'Consignación']" value="{{f}}">{{f}}</option>
                         </select>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Valor:</label>
                            <input type="number" ng-disabled="(!form.data.fpago || !formEdit.categoriadto)" ng-model="formEdit.valor" name="valor" class="form-control"  placeholder="$0.00">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 " style="margin-bottom: 10px;">
                            <button type="button" ng-disabled="(!formEdit.valor || !form.data.fpago || !formEdit.categoriadto)" class="btn btn-success pull-right" ng-click="addPaymentEdit()">Agregar al pago</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" ng-show="($root.formEdit.movimiento.length > 0)">
                        <div class="hpanel">
                            <div class="panel-heading">
                                <div panel-tools></div>
                                Formas de Pago
                            </div>
                            <div class="panel-body list">
                                <div class="panel-title">Listado de Pagos</div>
                                <small class="fo">Resumen del pago realizado.</small>
                                <div class="list-item" ng-repeat="payment in $root.formEdit.movimiento">
                                    <h3 class="no-margins font-extra-bold text-primary">{{payment.valor | currency:"$"}}</h3>
                                    <small>{{payment.fpago.descripcionpago}}<span class="font-bold" ng-show="payment.tipo"> - {{payment.tipo}}</span></small>
                                    <div class="pull-right font-bold"><button type="button" ng-click="removePaymentEdit()" class="btn btn-xs btn-danger">Quitar</button></div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="m-t">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="">
                                <label for="">Base Iva 0%</label>
                                <input type="text" currency-mask ng-model="$root.impuestos.iva0" placeholder="Iva del 0%" class="form-control input-sm" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="">
                                <label for="">Base Iva 5%</label>
                                <input type="text"  currency-mask ng-model="$root.impuestos.iva5" placeholder="Iva del 5%" class="form-control input-sm" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="">
                                <label for="">Base Iva 19%</label>
                                <input type="text"  currency-mask ng-model="$root.impuestos.iva19" placeholder="Iva del 19%" class="form-control input-sm" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="">
                                <label for="">Imp bolsa</label>
                                <input type="text" currency-mask ng-model="$root.impuestos.bolsa" placeholder="Imp. bolsa" class="form-control input-sm" name="bola">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="m-t">
                <div class="col-lg-3">
                    <div class="form-group">
                        <div class="">
                            <label for="">Valor iva 0%</label>
                            <input type="text" currency-mask ng-model="$root.impuestos.valor_iva0" placeholder="Iva del 0%" class="form-control input-sm" name="password">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <div class="">
                            <label for="">Valor iva 5%</label>
                            <input type="text"  currency-mask ng-model="$root.impuestos.valor_iva5" placeholder="Iva del 5%" class="form-control input-sm" name="password">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <div class="">
                            <label for="">Valor iva 19%</label>
                            <input type="text"  currency-mask ng-model="$root.impuestos.valor_iva19" placeholder="Iva del 19%" class="form-control input-sm" name="password">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <div class="">
                            <label for="">Descuento</label>
                            <input type="text" currency-mask ng-model="$root.impuestos.descuento" placeholder="Imp. bolsa" class="form-control input-sm" name="bola">
                        </div>
                    </div>
                </div>
        </div>
                <div class="col-md-12" style="padding-bottom: 15px;">
                    <label>Tercero <span class="text-danger">*</span> <span class="text-danger font-mini" ng-show="(formRecordEdit['Tercero'].$touched && formRecordEdit['Tercero'].$invalid)"> C. requerido.</span></label>
                    <ui-select ng-model="formEdit.tercero" name="Tercero" ng-required="true" theme="bootstrap">
                        <ui-select-match placeholder="Seleccionar tercero">{{$select.selected.nombre}}</ui-select-match>
                        <ui-select-choices repeat="tercero in terceros | propsFilter: {nombre: $select.search, email: $select.search}">
                            <div ng-bind-html="tercero.nombre | highlight: $select.search"></div>
                                Nombre: {{tercero.nombre}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Estado <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecordEdit['Estado documento'].$touched && formRecordEdit['Estado documento'].$invalid)"> C. requerido.</span></label>
                        <select class="form-control m-b" ng-model="$root.formEdit.estadodocumento._id" name="Estado documento">
                            <option ng-selected="{{ $root.formEdit.estadodocumento.id == estado.id }}" ng-repeat="estado in estados" value="{{estado._id}}">{{estado.descripcion}}</option>
                         </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Archivos / Soportes</label>
                        <button ng-class="{'btn-success': uploadingSuccess ? true : false}" class="btn btn-primary" ng-click="uploadFiles()" type="button">
                            <i class="fa fa-upload"></i>
                           {{ (uploading || uploadingSuccess) ? 'Archivos subidos' : 'Seleccionar archivos'}}</button>
                            <input type="file" id="files" name="files" multiple  ng-model="files" reader="clientFiles" style="display:none;">
                    </div>
                </div>
                <div class="col-lg-12" ng-show="($root.formEdit.archivos.length > 0)">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div panel-tools></div>
                            Archivos
                        </div>
                        <div class="panel-body list">
                            <div class="panel-title">Listado de archivo</div>
                            <small class="fo">Archivos subidos.</small>
                            <div class="list-item" ng-repeat="archivo in $root.formEdit.archivos">
                                <a href="">{{archivo.name}}</a>
                                <div class="pull-right font-bold"><button type="button" ng-click="removeFile()" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="(selectedEstado.descripcion == 'Pendiente' || selectedEstado.descripcion == 'pendiente' )">
                    <div class="col-sm-4">
                        <div class="checkbox" style="margin-top: 30px;">
                            <input icheck type="checkbox" ng-model="formEdit.recordar">
                                Recordar
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="recor">Recordatorio</label>
                            <input type="number"  ng-model="formEdit.data.recordia" title="Dias" placeholder="dias" name="dias" id="recor" class="form-control">
                            <span class="help-block small">Dias antes de la fecha de vencimiento</span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-12">
                        <div class="panel-body">
                            <div summernote ng-model="formEdit.observacion" config="summernoteOpt"></div>
                        </div>
                    </div>
                </div>
            </form>    
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$close()">Cerrar</button>
        <button type="button" ng-disabled="(!$root.user.perfil.permisosdetalle.ingresos.edit || formRecordEdit.$invalid || formEdit.estadodocumento.descripcion == 'Finalizado')" class="btn btn-primary" ng-click="update()">Actualizar</button>
    </div>
</div>

