<div class="inmodal"  ng-controller='tercerosCtrl' ng-init='load()'>
    <div class="color-line"></div>
    <div class="modal-header text-center">
        <h4 class="modal-title">Editar Tercero</h4>
        <small class="font-bold">Complete el formulario para editar tercero.</small>
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="formRecordEdit">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Nombre completo <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecordEdit['nombres'].$touched && formRecordEdit['nombres'].$invalid)"> C. requerido.</span></label>
                        <input type="text" ng-model="formEdit.nombre" name="nombres" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Razón social <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecordEdit['razonsocial'].$touched && formRecordEdit['razonsocial'].$invalid)"> C. requerido.</span></label>
                        <input type="text" ng-model="formEdit.razonsocial" name="razonsocial" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>NIT<span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecord['nit'].$touched && formRecord['nit'].$invalid)"> C. requerido.</span></label>
                        <input type="text" ng-model="formEdit.nit" name="nit" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Dirección <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecordEdit['direccion'].$touched && formRecordEdit['direccion'].$invalid)"> C. requerido.</span></label>
                        <input type="text" ng-model="formEdit.direccion" name="direccion" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Email <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecordEdit['email'].$touched && formRecordEdit['email'].$invalid)"> C. requerido.</span></label>
                        <input type="text" ng-model="formEdit.email" name="email" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Telefono <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecordEdit['telefono'].$touched && formRecordEdit['telefono'].$invalid)"> C. requerido.</span></label>
                        <input type="text" ng-model="formEdit.telefono" name="telefono" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Categoria <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecordEdit['Categoria'].$touched && formRecordEdit['Categoria'].$invalid)">requerido.</span></label>
                        <select  ng-change="getCategory(form.data.categoriadto)" class="form-control" ng-model="formEdit.categoriadto.id"  name="Categoria" required>
                            <option ng-repeat="categoria in categorias" value="{{categoria._id}}">{{categoria.descripcioncat}}</option>
                         </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Estado <span class="text-danger">*</span>  <span class="text-danger font-mini" ng-show="(formRecordEdit['estadoPeriodo'].$touched && formRecordEdit['estadoPeriodo'].$invalid)"> C. requerido.</span></label>
                        <select class="form-control m-b" ng-model="$root.formEdit.estado" required name="estadoPeriodo">
                            <option ng-repeat="estado in ['Activo', 'Inactivo']" value="{{estado}}">{{estado}}</option>
                         </select>
                    </div>
                </div>
    </form> 
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$close()">Cerrar</button>
        <button type="button" ng-disabled="formRecordEdit.$invalid || !$root.user.perfil.permisosdetalle.terceros.edit" class="btn btn-primary" ng-click="update()">Guardar</button>
    </div>
</div>





         