<div class="col-lg-12" ng-show="($root.terceros.length > 0)">
    <div class="hpanel">
        <div class="panel-body">
            <h3>Listado de terceros</h3>
            <p>Puedes crear modificar y eliminar tus terceros.</p>
        </div>
    </div>
</div>
<div ng-init="load();">
        <div ng-show="($root.periodos.length == 0)" class="row"  style="display: flex;align-items: center;justify-content: center;width: 100%;height: 100vh;flex-direction: column;text-align: center;">
                <div class="col-lg-12">
                    <div>
                            <h3 class="m-b">Sin resultados, No hay terceros aun.</h3>
                            <button class="btn btn-primary" ng-click="new_record()"><i class="fa fa-plus"></i> Nuevo tercero</button>
                    </div>
                </div>
        </div>
        <div class="col-lg-12" ng-show="($root.terceros.length > 0)">
        <div class="hpanel">
            <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-primary pull-right" ng-click="new_record()"><i class="fa fa-plus"></i> Nuevo tercero</button>
                </div>
            </div>
            <div class="row m-t">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="">Buscar por nombre</label>
                        <input type="text" placeholder="Buscar..." ng-model="filter.search" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Categoria</label>
                    <select class="form-control" ng-model="filter.categoria"  name="Categoria" >
                        <option value="">-- Categoria --</option>
                        <option ng-repeat="categoria in categorias" value="{{categoria._id}}">{{categoria.descripcioncat}}</option>
                     </select>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Estado</label>
                        <select class="form-control m-b" ng-model="filter.estado"  required name="Estado documento">
                            <option value="">-- Seleccione una opción --</option>
                            <option ng-repeat="estado in [{ label : 'Activo', value : true }, { label : 'Inactivo', value : false }]" value="{{estado.value}}">{{estado.label}}</option>
                         </select>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
            <table cellpadding="1" cellspacing="1" class="table table-striped">
                <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Razón social</th>
                    <th>Email</th>
                    <th>Dirección</th>
                    <th>Telefono</th>
                    <th>Categoria</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" ng-show="(filtered.length == 0)">
                    <td colspan="8">No hay datos para mostrar</td>
                </tr>
                <tr pagination-id="pagination-terceros" dir-paginate="record in filtered = (terceros | filter  : {categoriadto : {id : filter.categoria}, estado : filter.estado, nombre: filter.search }) | orderBy: '-createdAt' | itemsPerPage: 5">
                    <td class="capitilize">{{record.nombre.toLowerCase()}}</td>
                    <td>{{record.razonsocial.toLowerCase()}}</td>
                    <td>{{record.email.toLowerCase() || 'no definido'}}</td>
                    <td>{{record.direccion.toLowerCase() || 'no definido'}}</td>
                    <td>{{record.telefono || 'No definido'}}</td>
                    <td>
                    <span class="label label-primary">
                        {{record.categoriadto.descripcioncat.toLowerCase() || 'no definido'}}
                        </span>
                    </td>
                    <td> <span ng-class="{'label-success': (record.estado), 'label-warning' : (!record.estado)}" class="label ng-binding label-warning">{{record.estado ? "Actvo" : "Inactivo"}}</span></td>
                    <td ng-click="$event.stopPropagation()">
                        <div class="action-btns">
                            <button type="button" class="btn btn-primary btn-sm" ng-disabled="!$root.user.perfil.permisosdetalle.terceros.read" ng-click="detail()">Detalle</button>
                            <button type="button" class="btn btn-primary btn-sm" ng-disabled="!$root.user.perfil.permisosdetalle.terceros.edit" ng-click="edit_record()">Editar</button>
                            <button type="button" class="btn btn-primary btn-sm" ng-disabled="!$root.user.perfil.permisosdetalle.terceros.delete" ng-click="delete()" >Borrar</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="col-lg-12">
                <div class="pull-right"> 
                    <dir-pagination-controls pagination-id="pagination-terceros"></dir-pagination-controls>
                </div> 
            </div>
        </div>
        </div>
        <div class="panel-footer">
            Ingresos - {{$root.ingresos.length}} filas.
        </div>
        </div>
    </div>
    <input type="file" id="csv" name="csv" name="csv" ng-model="csv" required reader="csv_file" style="display:none;">
</div>
