
          <div class="inmodal">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <h4 class="modal-title">New campaing</h4>
                    <small class="font-bold">Please fill the complete form.</small>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form name="formCampaing">
                            <div class="form-group col-lg-12">
                                <label>Name</label>
                                <input type="text" required ng-model="form.data.name" name="name" class="form-control"  placeholder="Name">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Description</label>
                                <input type="text" required ng-model="form.data.description" class="form-control" name="description" placeholder="Descripción">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Goal type</label>
                                <input type="text" required ng-model="form.data.goal_type" value="" id="" class="form-control" name="" placeholder="Goal type">
                            </div>
                            <div class="form-group col-lg-6">
                                    <label>Goal Number</label>
                                    <input type="number" required ng-model="form.data.goal_num"  class="form-control" name="goal_num" placeholder="Goal number" >
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Start date</label>
                                <date-picker required ng-model="form.data.date_start"></date-picker>
                            </div>
                            <div class="form-group col-lg-6">
                                    <label>End date</label>
                                    <date-picker required ng-model="form.data.date_end" ></date-picker>
                                </div>
                            <div class="form-group col-lg-6">
                                <label>Email Address</label>
                                <input type="email" required ng-model="form.data.email" class="form-control" name="email" placeholder="user@email.com">
                            </div>
                            <div class="form-group col-lg-6">
                                    <label>Budget</label>
                                    <input type="number" required ng-model="form.data.budget" class="form-control" name="budget" placeholder="Budget">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Location</label>
                                <input type="text" required ng-model="form.data.location"  class="form-control" name="location" placeholder="Location">
                            </div>
                        </form>    

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="$close()">Close</button>
                    <button type="button" ng-disabled="formCampaing.$invalid" class="btn btn-primary" ng-click="save()">Save</button>
                </div>
            </div>
