<div class="col-lg-12" ng-show="($root.usuarios.length > 0)">
    <div class="hpanel">
        <div class="panel-body">
            <h3>Listado de usuarios</h3>
            <p>Puedes crear modificar y eliminar tus usuarios.</p>
        </div>
    </div>
</div>
<div ng-init="load();">
        <div ng-show="($root.usuarios.length == 0)" class="row"  style="display: flex;align-items: center;justify-content: center;width: 100%;height: 100vh;flex-direction: column;text-align: center;">
                <div class="col-lg-12">
                    <div>
                            <h3 class="m-b">Sin resultados, No hay usuarios aun.</h3>
                            <button class="btn btn-primary" ng-click="new_record()"><i class="fa fa-plus"></i> Nuevo Usuario</button>
                    </div>
                </div>
        </div>
        <div class="col-lg-12" ng-show="($root.usuarios.length > 0)">
        <div class="hpanel">
            <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-primary pull-right" ng-click="new_record()"><i class="fa fa-plus"></i> Nuevo Usuario</button>
                </div>
            </div>
            <div class="table-responsive">
            <table cellpadding="1" cellspacing="1" class="table table-striped">
                <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Dirección</th>
                    <th>Fecha creación</th>
                    <th>Estado</th>
                    <th class="text-right">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr  pagination-id="pagination-usuarios" dir-paginate="record in filtered = (usuarios | filter  : {estado : filter.estado, nombre: filter.search }) | itemsPerPage: 20" ng-click="setSelected()">
                    <td>{{record.nombres}}</td>
                    <td>{{record.apellidos}}</td>
                    <td>{{record.email}}</td>
                    <td>{{record.telefono}}</td>
                    <td>{{record.direccion}}</td>
                    <td>{{record.createdAt | moment: 'format': 'YYYY-MM-DD'}}</td>
                    <td> <span ng-class="{'label-success': (record.estado), 'label-warning' : (!record.estado)}" class="label ng-binding label-warning">{{record.estado ? "Actvo" : "Inactivo"}}</span></td>
                    <td ng-click="$event.stopPropagation()">
                        <div class="action-btns pull-right" style="width: 20px%;">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="edit_record()">Editar</button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="delete()" >Borrar</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="col-lg-12">
                <div class="pull-right"> 
                    <dir-pagination-controls pagination-id="pagination-usuarios"></dir-pagination-controls>
                </div> 
            </div>
        </div>
        </div>
        <div class="panel-footer">
            Usuarios - {{$root.usuarios.length}} filas.
        </div>
        </div>
    </div>
    <input type="file" id="csv" name="csv" name="csv" ng-model="csv" required reader="csv_file" style="display:none;">
</div>
