<div style="display:flex;">
    <input  type="text" class="form-control" style="width: 84%;" datepicker-popup="{{format}}"
    show-button-bar="false" ng-model="ngModel" is-open="opened" datepicker-options="dateOptions"
    ng-required="{{required}}" close-text="Close"/>
    <span class="input-group-btn" style="width:16%;">
            <button type="button" class="btn btn-default" ng-click="open($event)">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
    </span>
</div>