<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">
    <div class="content" ui-view ng-controller="dashboardCtrl" ng-init="load()" style="padding: 25px 40px 40px 40px;height: 1800px;">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div panel-tools></div>
                        Obtener estadisticas por periodos
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-4">
                            <div class="input-daterange input-group" id="datepicker">
                                <input placeholder="Fecha desde" ng-click="openFrom($event)" type="text" class="input-sm form-control" name="start" datepicker-popup="{{format}}"
                                show-button-bar="false" name="Fecha Inicial" required ng-model="fechainicial" is-open="modal.from" datepicker-options="dateOptions"
                              ng-required="true" close-text="Close"/>
                                <span class="input-group-addon">a</span>

                                <input placeholder="Fecha hasta" ng-click="openTo($event)" type="text" class="input-sm form-control" name="start" datepicker-popup="{{format}}"
                                show-button-bar="false" name="Fecha Inicial" required ng-model="fechafinal" is-open="modal.to" datepicker-options="dateOptions"
                              ng-required="true" close-text="Close" type="text" class="input-sm form-control" name="end"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" ng-click="query()"><i class="fa fa-search"></i>Consultar</button>
                        </div>
                    </div>
                    <div class="panel-footer">
                            <span class="pull-right">

                            </span>
                       Ultima actualización
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div panel-tools></div>
                        Dashboard de información y estadisticas
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="small">
                                    <i class="fa fa-money"></i> Total Ingreso
                                </div>
                                <div>
                                    <h1 class="font-extra-bold m-t-xl m-b-xs text-success">
                                        {{$root.saldoIngresos.total_finalizados || 0  | currency:"$"}}
                                    </h1>
                                    <small>Total de ingresos</small>
                                </div>
                                <div class="small m-t-xl">
                                    <i class="fa fa-money"></i> Periodo :
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="small">
                                    <i class="fa fa-money"></i>Total Egresos
                                </div>
                                <div>
                                    <h1 class="font-extra-bold m-t-xl m-b-xs text-danger">
                                        {{$root.saldoEgresos.total_finalizado || 0  |  currency:"$":0 }}
                                    </h1>
                                    <small>Total de egresos</small>
                                </div>
                                <div class="small m-t-xl">
                                    <i class="fa fa-money"></i> Periodo
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="small">
                                    <i class="fa fa-money"></i> Saldo
                                </div>
                                <div>
                                    <h1 class="font-extra-bold m-t-xl m-b-xs text-success">
                                        {{($root.saldoIngresos.total_finalizados || 0) - ($root.saldoEgresos.total_finalizado || 0)|| 0  |  currency:"$":0}}
                                    </h1>
                                    <small>Saldo total a favor</small>
                                </div>
                                <div class="small m-t-xl">
                                    <i class="fa fa-money"></i> Periodo :
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                            <span class="pull-right">

                            </span>
                       Ultima actualización
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" ng-repeat="fp in consolidado.result_ingresos">
                <div class="hpanel">
                    <div class="panel-body text-center h-200">
                        <i class="fa fa-money fa-4x"></i>
        
                        <h3 class="m-xs"> {{fp.total | currency:"$":0}}</h3>
        
                        <h3 class="font-extra-bold no-margins text-success">
                           {{fp.forma_pago }}
                        </h3>
                        <table class="table table-striped" ng-init="compare(consolidado)">
                            <thead>
                            <tr class="text-left">
                                <th>F. pago</th>
                                <th>Valor</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr class="text-left">
                                <td>
                                    <span class="text-success font-bold">Entrada</span>
                                </td>
                                <td>{{fp.total || 0 | currency:"$":0}}</td>
                            </tr>
                            <tr class="text-left">
                                <td>
                                    <span class="text-danger font-bold">Salida</span>
                                </td>
                                <td>{{fp.egreso  || 0 | currency:"$":0}}</td>
                            </tr>
                            <tr class="text-left">
                                    <td>
                                <span class="font-bold"><strong>Total</strong></span>
                                </td>
                                <td><strong>{{fp.gtotal || 0 | currency:"$":0}}</strong> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                     {{consolidado.result_ingresos.length}} - registros
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" ng-repeat="fp in consolidado.result_egresos">
                <div class="hpanel">
                    <div class="panel-body text-center h-200">
                        <i class="pe-7s-graph1 fa-4x"></i>
        
                        <h1 class="m-xs"> {{fp.total | currency:"$":0}}</h1>
        
                        <h3 class="font-extra-bold no-margins text-danger">
                           {{fp.forma_pago }}
                        </h3>
                        <small>Total egreso registrado.</small>
                    </div>
                    <div class="panel-footer">
                     {{consolidado.result_ingresos.length}} - registros
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>
    <footer class="footer" ng-include="'views/common/footer.html'"></footer>
</div>
