<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">
    <div class="content" ui-view ng-controller="dashboardCtrl" ng-init="load()" style="padding: 25px 40px 40px 40px;min-width: 320px;height: 1500px;">

    </div>
    <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>
    <footer class="footer" ng-include="'views/common/footer.html'"></footer>
</div>
